* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  text-align: center;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  grid-row: 1;
}

.title {
  font-size: 32px;
  margin: 0;
}

.page {
  font-size: 24px;
  margin: 0;
  padding: 12px;
}

.menu {
  margin: 0;
  padding: 12px 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 12px;
}

.menu a {
  border: 4px solid #ffffff5e;
  font-size: 18px;
}

main {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);  
  padding: 12px 24px;
  grid-row: 2;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

footer {
  text-align: center;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  grid-row: 3;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
