html, body {
    margin: 0;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header_title {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    background: rgb(2,0,36);
    background: linear-gradient(113deg, rgba(2,0,36,1) 0%, rgb(25, 25, 90) 0%, rgba(19,65,191,1) 50%, rgba(30,191,235,1) 100%);
    font-size: 26px;
}
.title {
    margin: 0;
    text-align: center;
    color: white;
    padding: 36px 0 16px 0;
    grid-column: 1;
}

.content {
    padding: 16px;
    background-color: rgb(247, 245, 245);
    color: black;
}

.information {
    margin: 0;
    font-size: 18px;
    grid-row: 2;
}

.heading {
    margin: 0;
    text-align: center;
    font-size: 26px;
    color: white;
    padding: 26px 0;
    color: black;
}

footer {
    background: rgb(13,45,101);
    background: linear-gradient(113deg, rgba(2,0,36,1) 0%, rgb(25, 25, 90) 0%, rgba(19,65,191,1) 50%, rgba(30,191,235,1) 100%);
    margin: 0;
    padding: 40px 0;
    text-align: center;
    font-size: 26px;
    color: white;
    grid-row: 3;
}

.fa {
    width: 139px; 
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding-bottom: 6px;
}
.icon-bar a {
    display: inline-block;
    color: #fff;
    background: rgba(30,191,235,1);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 24px 0;
}

.icon-bar a.active {
    background: rgb(235, 74, 30, 1);
}

.icon-bar a:hover {
    background: rgba(13,42,120,1)
}

.dropdown-vertical {
    display: inline-block;
    position: relative;
    grid-column: 2;
}
.vertical-bar {
    position: absolute;
    padding: 0;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.8s linear;
}
.dropdown-vertical:hover ul{
    max-height: 1000px;
}
  
.dropdown-horizontal {
    display: inline-block;
    position: relative;
}

.hower-text {
    width: 90px; 
    color: #fff;
    padding: 24.5px;
    font-size: 24px; 
    margin: 0;
}


.animated-button {
    margin: 24px 24px 24px 0;
    border-radius: 8px;
    background-color: #916CFA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}
  
.animated-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}
  
.animated-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.animated-button:hover span {
    padding-right: 25px;
}
  
.animated-button:hover span:after {
    opacity: 1;
    right: 0;
}