* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    color: #f5f5f5;
    font-family: Arial, Verdana, sans-serif;
    margin: auto;
}


header {
    background-color: #2b2d42;
    padding: 1rem;
}

.title {
    text-align: center;
}

.pageTitle {
    text-align: center;
    padding: 1rem;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.menu li {
    padding: 0.6rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.menu li a {
    display: block;
    width: 100%;
    text-align: center;
}

.activeHeader a {
    color: #e94f37;
}

.menu li:hover a {
    color: #e94f37;
}

body:has(.unactiveHeader:hover) .activeHeader a {
    color: #f5f5f5;  
}


main {
    background-color: #f6f7eb;
    padding: 3rem;
}

main h2 {
    color: #000000;
}

img {
    max-width: 100%;
    object-fit: contain;
}

main p {
    color: #000000;
    font-size: 1.2rem;
}

section {
    background-color: #e94f37;
    padding: 2rem;
}

table {
    border-collapse: collapse;
    color: #2b2d42;
    margin: 2rem 0;
}

  th,
  td {
    border: 1px solid #cecfd5;
    padding: 1rem 2rem;
}

footer {
    background-color: #2b2d42;
    padding: 1rem;
}

.activeFooter a {
    color: #e94f37;
}

body:has(.unactiveFooter:hover) .activeFooter a {
    color: #f5f5f5;  
}

p {
    color: #000000;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}